# Backend
BugReporter-backend/target/
BugReporter-backend/.mvn/
BugReporter-backend/*.iml
BugReporter-backend/.idea/

# Frontend
BugReporter-frontend/node_modules/
BugReporter-frontend/dist/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
